### Basic Function

In [2]:
def display():                        # Function Definition
    print('Hello World')

In [3]:
display()                             # Function call

Hello World

In [4]:
def show():                        # Function Definition
    print('Hello World')
    print('Welcome!')
    print('Enjoy Python programming')

In [5]:
show()

Hello World
Welcome!
Enjoy Python programming

### Parameterized Function

In [7]:
def square(n):                  # n -> argument / parameter
    sq = n * n
    print('Square:', sq)

In [8]:
square(6)

Square: 36

In [9]:
square(19)

Square: 361

In [10]:
square(45.86)

Square: 2103.1396

In [11]:
def larger(x, y):
    if x > y:
        print('Larger:', x)
    else:
        print('Larger:', y)

In [12]:
larger(56, 12)

Larger: 56

In [13]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
larger(num1, num2)     # Function call

Enter first number:45
Enter second number:89
Larger: 89

### Function can call another function

In [15]:
def show():
    print('Result is:')

def square(n):
    sq = n * n
    show()
    print(sq)

In [16]:
square(6)

Result is:
36

### Return values

In [18]:
def square(n):
    sq = n * n
    return sq

In [19]:
num = square(6)

In [20]:
print(num)

36

In [21]:
print(square(5))

25

In [22]:
7 * square(7)

343

In [23]:
def larger(x, y):
    if x > y:
        return x
    else:
        return y

In [24]:
large = larger(45, 90)

In [25]:
print(large)

90

In [26]:
large = larger(45.53, 9.36)
print(large)

45.53

#### Excercise

In [28]:
# Write a function to find factorial of a number

def factorial(n):
    fact = 1
    for x in range(1, n+1):
        fact = fact * x
        
    return fact

num = int(input('Enter the number:'))
f = factorial(num)

print('Factorial is:', f)

Enter the number:5
Factorial is: 120

### Multi-return functions

In [30]:
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [31]:
print('Square and Cube:', calc(7))

Square and Cube: (49, 343)

In [32]:
calc(5)

(25, 125)

In [34]:
def isEven(n):
    if n % 2 == 0:
        return True
    else:
        return False

num = int(input('Enter the number:'))

if isEven(num):
    print('Number is Even!')
else:
    print('Number is Odd!')

Enter the number:70
Number is Even!

### Default argument to functions

In [47]:
def calc(x=5, y=2, z=3):
    add = x + y + z
    return(add)

In [49]:
print('1. Addition:', calc(7,9,10))
print('2. Addition:', calc(7,9))
print('3. Addition:', calc(7))
print('4. Addition:', calc())
print('5. Addition:', calc(y=10))
print('6. Addition:', calc(y=5,z=11,x=8))

1. Addition: 26
2. Addition: 19
3. Addition: 12
4. Addition: 10
5. Addition: 18
6. Addition: 24

### Variable arguments

In [57]:
def show(*num):
    for n in num:
        print(n, end=' ')

In [58]:
show(5,6,7,8)

5 6 7 8

In [59]:
show('hello','pune',78.35,True,132)

hello pune 78.35 True 132

### lambda functions

In [63]:
def square(x):
    return x * x

In [64]:
square = lambda x: x * x

In [65]:
print(square(5))

25

#### map

In [67]:
x = [46,73,55,42,18,61,34,52]

In [70]:
new = map(lambda n: n/2, x)   # new = [n/2 for n in x]

In [69]:
list(new)

[23.0, 36.5, 27.5, 21.0, 9.0, 30.5, 17.0, 26.0]

In [71]:
new = map(lambda n: n*n, x) 
list(new)

[2116, 5329, 3025, 1764, 324, 3721, 1156, 2704]

#### filter

In [73]:
x = [46,73,55,42,18,61,34,52]

In [74]:
new = filter(lambda n: n > 50, x)   # new = [n for n in x if n > 50]
list(new)

[73, 55, 61, 52]

In [75]:
new = filter(lambda n: n % 2, x)
list(new)

[73, 55, 61]

In [76]:
new = filter(lambda n: n % 2 == 0, x)
list(new)

[46, 42, 18, 34, 52]