In [1]:
a = [5,6,12,3,8,9,21,18]
type(a)

list

In [2]:
a = (5,6,12,3,8,9,21,18)
type(a)

tuple

In [3]:
a = {5,6,12,3,8,9,21,18}
type(a)

set

In [4]:
a = {5:6,12:3,8:9,21:18}
type(a)

dict

### List

In [7]:
# list of numbers
num = [34,55,12,58,76,12,35,88,36]

In [8]:
# Mixed list
mix = [34, 'Tushar',89.12, True, 123]

type(mix)

list

#### Access the element

In [13]:
num

[34, 55, 12, 58, 76, 12, 35, 88, 36]

In [10]:
num[4]

76

In [11]:
num[2] * 10

120

In [12]:
num[-3]

35

#### Replace the data

In [15]:
num

[34, 55, 12, 58, 76, 12, 35, 88, 36]

In [16]:
num[3] = 29

In [17]:
num

[34, 55, 12, 29, 76, 12, 35, 88, 36]

In [18]:
num[-1] = 46

In [19]:
num

[34, 55, 12, 29, 76, 12, 35, 88, 46]

#### Slicing of the data

In [21]:
num

[34, 55, 12, 29, 76, 12, 35, 88, 46]

In [22]:
num[2:6]

[12, 29, 76, 12]

In [24]:
x = num[2:]
print(x)

[12, 29, 76, 12, 35, 88, 46]

In [25]:
num[:6]

[34, 55, 12, 29, 76, 12]

In [26]:
num[:]

[34, 55, 12, 29, 76, 12, 35, 88, 46]

In [27]:
num[2:5] = [67,23,44]

In [28]:
num

[34, 55, 67, 23, 44, 12, 35, 88, 46]

#### Check the data with list

In [30]:
num

[34, 55, 67, 23, 44, 12, 35, 88, 46]

In [31]:
44 in num

True

In [32]:
x = 35
if x in num:
    print('YES')
else:
    print('NO')

YES

In [33]:
88 not in num

False

#### Delete the data from list

In [35]:
num

[34, 55, 67, 23, 44, 12, 35, 88, 46]

In [36]:
del num[5]

In [37]:
num

[34, 55, 67, 23, 44, 35, 88, 46]

In [38]:
del num[3:5]

In [39]:
num

[34, 55, 67, 35, 88, 46]

#### Arithmetic Operations

In [41]:
num

[34, 55, 67, 35, 88, 46]

In [42]:
num * 3

[34, 55, 67, 35, 88, 46, 34, 55, 67, 35, 88, 46, 34, 55, 67, 35, 88, 46]

In [43]:
x = num * 2
print(x)

[34, 55, 67, 35, 88, 46, 34, 55, 67, 35, 88, 46]

In [44]:
num = num + [51, 82]

In [45]:
print(num)

[34, 55, 67, 35, 88, 46, 51, 82]

#### Iteration of list

In [48]:
num

[34, 55, 67, 35, 88, 46, 51, 82]

In [49]:
for n in num:
    print(n, end=' ')

34 55 67 35 88 46 51 82

In [50]:
# Write a program to print only odd number from this list
for n in num:
    if n % 2 == 1:
        print(n, end=' ')

55 67 35 51

In [51]:
# Find the addition of numbers
add = 0
for n in num:
    add += n

print('Addition:', add)

Addition: 458

#### List comprehension : map

In [53]:
num

[34, 55, 67, 35, 88, 46, 51, 82]

In [54]:
new = [x/2 for x in num]

In [55]:
new

[17.0, 27.5, 33.5, 17.5, 44.0, 23.0, 25.5, 41.0]

In [56]:
new = [x*x for x in num]
new

[1156, 3025, 4489, 1225, 7744, 2116, 2601, 6724]

#### List comprehension : filter

In [58]:
num

[34, 55, 67, 35, 88, 46, 51, 82]

In [60]:
new = [x for x in num if x > 50]
print(new)

[55, 67, 88, 51, 82]

In [61]:
new = [x for x in num if x % 2 == 1]
print(new)

[55, 67, 35, 51]

#### Empty list

In [63]:
e = []

In [64]:
type(e)

list

In [65]:
e

[]

In [66]:
e[0]

IndexError: list index out of range

In [67]:
e += [12]
e

[12]

In [68]:
e += [56, 78]
e

[12, 56, 78]

#### Built-in Functions

In [70]:
# Count total number of elements in a list
len(num)

8

In [71]:
# Maximum
max(num)

88

In [72]:
# Minimum
min(num)

34

In [73]:
# Addition of all elements
sum(num)

458

In [74]:
# Sort the list
sorted(num)

[34, 35, 46, 51, 55, 67, 82, 88]

In [75]:
# Sort the list - descending
sorted(num, reverse=True)

[88, 82, 67, 55, 51, 46, 35, 34]

In [76]:
# Convert any iterable element to list
name = 'Tushar'
x = list(name)
print(x)

['T', 'u', 's', 'h', 'a', 'r']

#### List Methods

In [78]:
# Append any element to the list
num

[34, 55, 67, 35, 88, 46, 51, 82]

In [79]:
num.append(28)

In [80]:
num

[34, 55, 67, 35, 88, 46, 51, 82, 28]

In [81]:
x = [1,2,3]
y = [1,2,3]

In [82]:
x.append([5,6,7])
y.extend([5,6,7])

In [83]:
x

[1, 2, 3, [5, 6, 7]]

In [84]:
y

[1, 2, 3, 5, 6, 7]

In [85]:
# Insert at any index position
num

[34, 55, 67, 35, 88, 46, 51, 82, 28]

In [86]:
num.insert(4, 28)

In [87]:
num

[34, 55, 67, 35, 28, 88, 46, 51, 82, 28]

In [88]:
# Remove an element using value, only first value will be removed
num.remove(67)

In [89]:
num

[34, 55, 35, 28, 88, 46, 51, 82, 28]

In [90]:
x = num.pop(-3)
x

51

In [91]:
num

[34, 55, 35, 28, 88, 46, 82, 28]

In [92]:
# Count total number existence of value
num.count(28)

2

In [94]:
num.index(88)

4

In [95]:
num.sort()

In [96]:
num

[28, 28, 34, 35, 46, 55, 82, 88]

In [97]:
num.reverse()

In [98]:
num

[88, 82, 55, 46, 35, 34, 28, 28]

In [99]:
num.sort(reverse=True)
num

[88, 82, 55, 46, 35, 34, 28, 28]

In [100]:
num = sorted(num)

[28, 28, 34, 35, 46, 55, 82, 88]

#### User input to initialize the list

In [102]:
num = []
n = int(input('How many elements? '))

for x in range(n):
    data = int(input('Enter number: '))
    num.append(data)

print('Your list is:', num)

How many elements? 5
Enter number: 45
Enter number: 90
Enter number: 23
Enter number: 41
Enter number: 61
Your list is: [45, 90, 23, 41, 61]

#### Excercise

In [104]:
'''This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new 
contains the same items, in the same order, except that it does NOT 
contain the item 'copper'.'''

"This is a list of some metallic elements.\nmetals = [ 'silver','gold', ... ]\nMake a new list that is almost identical to the metals list: the new \ncontains the same items, in the same order, except that it does NOT \ncontain the item 'copper'."

In [105]:
metals = ['silver','copper','gold','silver',
'aluminium','copper','gold','silver']

In [106]:
new_metals = []

for metal in metals:
    if metal != 'copper':
        new_metals.append(metal)

print(new_metals)

['silver', 'gold', 'silver', 'aluminium', 'gold', 'silver']

In [107]:
# Half list sort
x = [5, 6, 2, 8, 9, 1, 3, 7, 4, 0]

In [108]:
y = x[5:]
x = x[:5]

In [111]:
y.sort()
x = x + y

In [112]:
x

[5, 6, 2, 8, 9, 0, 1, 3, 4, 7]

### Tuple

In [114]:
t = (45,11,25,78,76,43,26,78)

In [115]:
type(t)

tuple

In [116]:
t[3]

78

In [117]:
t[-1]

78

In [118]:
t[3] = 12

TypeError: 'tuple' object does not support item assignment

In [120]:
t[2:6]

(25, 78, 76, 43)

In [121]:
78 in t

True

In [122]:
90 not in t

True

In [124]:
for x in t:
    if x % 2 == 1:
        print(x)

45
11
25
43

In [125]:
len(t)

8

In [126]:
min(t)

11

In [127]:
max(t)

78

In [128]:
sum(t)

382

In [129]:
sorted(t)

[11, 25, 26, 43, 45, 76, 78, 78]

In [130]:
x = 78, 90, 23, 12, 28

In [131]:
x

(78, 90, 23, 12, 28)

In [132]:
t.append(34)

AttributeError: 'tuple' object has no attribute 'append'

In [134]:
t.count(78)

2

In [135]:
t.index(26)

6

In [136]:
num

[45, 90, 23, 41, 61]

In [137]:
x = tuple(num)

In [138]:
x

(45, 90, 23, 41, 61)

### Dictionary

In [140]:
# Key:Value Pairs
d = {2:45, 5:128, 6:24, 10:27, 12:366}

In [141]:
type(d)

dict

In [142]:
d

{2: 45, 5: 128, 6: 24, 10: 27, 12: 366}

In [144]:
d[5]

128

In [145]:
d[3]

KeyError: 3

In [146]:
d[5] = 48

In [147]:
d

{2: 45, 5: 48, 6: 24, 10: 27, 12: 366}

In [148]:
d['a'] = 'apple'

In [149]:
d

{2: 45, 5: 48, 6: 24, 10: 27, 12: 366, 'a': 'apple'}

In [151]:
list(d.values())

[45, 48, 24, 27, 366, 'apple']

In [152]:
list(d.keys())

[2, 5, 6, 10, 12, 'a']

In [153]:
list(d.items())

[(2, 45), (5, 48), (6, 24), (10, 27), (12, 366), ('a', 'apple')]

In [157]:
for x in d:
    print(x)

2
5
6
10
12
a

### Set

In [155]:
# Stores the unique and distinct values

In [156]:
s = {6,5,6,7,8,7,6,5,6,1,6,5,7}

In [158]:
s

{1, 5, 6, 7, 8}

In [159]:
s.add(4)

In [160]:
s

{1, 4, 5, 6, 7, 8}